@charset "utf-8";
main img {
    width: 250px;
    height: 250px;
    margin-top: 39px;
    margin-left: 309px;
}



img   {
    margin-top: 117px;
    margin-left: 481px;
    margin-bottom: 99px;
    width: 300px;
    height: 0px;
}

h1 {
    margin-top: -877px;
    margin-left: 376px;
    font-size: 30px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
    margin-top: -59px;
    margin-left: 940px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
}
h3 {
    margin-top: 362px;
    margin-left: 393px;
    font-size: 30px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
    font-size: 30px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: -70px;
    margin-left: 943px;
}
h5 {
    font-size: 30px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 363px;
    margin-left: 388px;
}
h6 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin-left: 947px;
    margin-top: -89px;
}
